.form-container {
    width: 16%;
    margin: 0 auto;
}

.form-item {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.form-item label {
    margin-right: 4px;
}

.form-container button {
    text-align: center;
    width: max-content;
    font-weight: bold;
    color: blueviolet;
}