.contenedor{
    display: flex;
    justify-content: space-around;
    width: 180px;
    background-color: bisque;
    border-radius: 3px ;
    border: 2px solid;
}
.contenedor span{
    width: 160px;
    font-weight: bold;

}
.spam2 {
    margin: 10px;
}
.contenedor button{
    font-weight: bold;
}